<!-- Footer -->
            <div class="row footer">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-3">
                      <h4>Recent Posts</h4>
                        <ul>
                        {% for post in site.posts limit:4 %}
                          <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                      <h4>Github Repositories</h4>
                      <ul>
                      {% if site.github_username %}
                        <li>
                          <a href="https://github.com/{{ site.github_username }}">
                            <span class="username">{{ site.github_username }}</span>
                          </a>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                      <img src="/images/mvp.png" alt="Microsoft MVP" style="width: 150px;" />
                      <img src="/images/mcp.png" alt="Microsoft Certified Pro" style="width: 150px;" />
                      <img src="/images/mcsd.jpg" alt="Microsoft Certified Solution Developer" style="width: 150px;" />
                      <img src="/images/PSM1.jpg" alt="PSM1" style="width: 150px;" />
                    </div>  
                  </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          <!-- End Footer -->
